@font-face {
    font-family: 'HuskyStash-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('HuskyStash-Regular'), url('fuentes/husky\ stash.woff') format('woff');
}

@font-face {
    font-family: 'Octuple max Solid';
    font-style: normal;
    font-weight: normal;
    src: local('Octuple max Solid'), url('fuentes/Octuple-max-demo.woff') format('woff');
}

@font-face {
    font-family: 'Planet Kosmos';
    font-style: normal;
    font-weight: normal;
    src: local('Planet Kosmos'), url('fuentes/PLANK___.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    src: url('fuentes/Lato-Black.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    src: url('fuentes/Montserrat-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Work+Sans:wght@400;600;700&display=swap');