*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

html, body{
    overflow-x: hidden;
}

.mainContainer{
    display: grid;
    grid-template-areas: 
        "nav"
        "article"
        "main"
        "footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.--not-scroll{
    overflow: hidden; 
    /* overflow-y: hidden;
    overflow-x: hidden;*/
}

.--scroll{
    overflow: scroll;
}

.--center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-title{
    padding: 1em 0;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-size: calc(4vh + 1vw);
    font-family: 'Planet Kosmos';
    letter-spacing: 0.2em;
}

header{
    border-color: #f5f5f5;
}
    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 13vh;
        justify-content: center;        
        padding-left: 5vh;
        padding-right: 2.5vh;
        z-index: 100;
        display: flex;
        align-items: center;
        background: #fe90b5;
        box-shadow: 0 0 10vh rgb(247, 147, 147);
    }
        nav h1{
            display: block;
            width: 20%;
            letter-spacing: 3px;
            font-size: calc(3.5vh + .7vw);
            color: white;
            font-family: 'HuskyStash-Regular';
            margin-left: 1em;
            margin-right: 1em;
        }
            .link--sizer{
                display: block;
            }
            .nav-links{
                display: block;
                position: relative;
                right: 0;
                width: 25%;

                white-space: nowrap;
                text-decoration: none;
                font-size: calc(2.5vh + .3vw);
                font-family: 'Lato';
                color: #fafafa;
                letter-spacing: 1px;
                text-align: right;
            }
            .nav-links:hover{
                display: block;
                position: relative;
                right: 0;
                width: 25%;

                white-space: nowrap;
                text-align: right;
                text-decoration: none;
                text-shadow: 2px 2px 4px rgb(255, 255, 255);
                font-size: calc(2.5vh + .3vw);
                font-family: 'Lato';
                color: #fafafa;
                
                letter-spacing: 1px;
                animation: bound 1s ease-in-out infinite;
            }

            @keyframes bound {
                0%, 100% {
                  transform: translate(0, 0);
                }
                50% {
                  transform: translate(0, -1vh);
                }
            }

    .supercont-of-slider{
        position: relative;
        width: 100vw;
        height: 100vh;
    }
        .cont-of-slider{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
            .slider{
                width: 400%;
                height: 100%;
                display: flex;
                transition: .3s;
            }
                .slider-screen{
                    background-image: url(./imagenes/fondo\ flor.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 25%;
                    position: relative;
                }

        .caption{
            height: 40%;
            max-width: 75%;
            text-align: center;
            top: 55%;
            padding: 3%;
            align-items: center;
            background-color: rgba(236, 227, 227, 0.201); 
            /*backdrop-filter: blur(7px);*/
            border: 2px solid rgba(142, 204, 242, 0.758);
            border-radius: 50px;
            box-shadow: 0 0 10px rgba(77, 174, 234, 0.758);
        }
            .caption h1{
                padding: 20% auto;
                color: white;
                font-family: 'Octuple max Solid';
                font-size: 7vh;
                font-weight: 300;
                letter-spacing: .5vw;
                line-height: 2em;
                text-shadow: 0 5px 10px black ;
            }

            .arrow--down{
                position: absolute;
                top: 85%;
                left: 50%;
                height: 5vh;
                width: 5vh;
                transform: translateX(-50%) rotate(45deg);
                border-right: 5px solid white;
                border-bottom: 5px solid rgb(240, 240, 240);

                animation: flotar 1s linear infinite alternate;
            }
            @keyframes flotar{
                to{
                    margin-top: 2vh;
                }
            }

    /*ARTICLE PARRAFO MAIN*/
    .article-about{
        /* position: relative; */
        width: 100vw;
        height: fit-content;
        padding: 4em 1em;
        background-color: rgb(253, 253, 253); /*#FFE6EE*/
        display: flex;
        align-items: center;
    }
        .about-context{
            width: 85%;
            margin: auto;
        }
        .about-context h1{ /*"Título" de info*/
            font-size: calc(3.2vh + 0.85vw);
            font-family: 'Octuple max Solid';
            margin-bottom: 1.2em;
            text-align: center;
            line-height: 1.4em;
            color: rgb(50, 50, 50);
            text-shadow: 2px 2px 4px #fe90b5;
        }
        .about-context p{ /*"Párrafo" de info*/
            text-align: center;
            margin-bottom: 1.5em;
            line-height: 1.4em;
            font-size: calc(1.8vh + 0.5vw);
            font-family: 'Montserrat';
            width: 65%;
            max-width: 900vw;
            margin: 0 auto;
        }

        .especial{ /*"¡No te arrepentirás!"*/
            line-height: 3em;
        }

        .linkEntradas a{ /*Link entradas párrafo, encima de spoti*/
            line-height: 3em;
        }

main{
    /* height: 200vh; */
    height: fit-content;
    width: 100vw;
    padding-bottom: 10vh;
    background: url(./imagenes/fondo\ gradiente.jpg) no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(169, 169, 169, 0.489);
    background-size: cover;
    color: white;
}
    section{
        display: block;
        height: fit-content;
        width: 100vw;
    }

    /*GALERÍA*/
    .gallery{
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: .4fr;
        grid-template-areas:'one two two tre fou'
                            'one fiv six six fou';
    }
        .gallery-item{
            position: relative;
            border-radius: .4vw;
            overflow: hidden;
            box-shadow: 0 0 15px black;
        }
            .gallery-item_img{
                transition: 1s;
                transform: scale(1.05);
            }
            .gallery-item:hover .gallery-item_img{ 
                transform: scale(1.1);
            }
            .ventana{
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.064);
                transition: .5s;
            }
                .gallery-item:hover .ventana{
                    height: 0%;
                    padding: 48.6vh auto;
                }
                .gallery-item p{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    font-family: 'Octuple max Solid';
                    font-size: calc(2vh + 0.5vw);
                    color: rgb(255, 255, 255);
                    transition: .5s;
                    background-color: transparent;
                    text-shadow: 0 3px 5px black;
                }
                    .gallery-item:hover p{
                        color: transparent;
                        text-shadow: none;
                    }

    /*SECCIÓN CIUDADES*/
    .section-ciudades{
        height: fit-content;
        width: 100vw;
        padding-bottom: 15vh;
    }
        .listaCiudades{
            list-style: none;
            font-size: calc(2.2vh + 0.75vw);
            font-family: 'Octuple max Solid';
            line-height: 2.5em;
        }
        .imagenEstrella1{
            position: relative;
            width: 5%;
            left: 1em;
        }
        .imagenEstrella2{
            position: relative;
            width: 10%;

            left: 20em;
        }
        .imagenEstrella3{
            position: relative;
            width: 10%;

            right: 30em;
        }

        .imagen

/*FOOTER*/
footer{
    bottom: 0;
    width: 100vw;
    padding: 10vh 0;
    background-color: #b5adfb; /*#B5F296 D6EFF6*/
}
    .cont-of-socialm{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 2% 3%;
    }

        .socialm{
            height: 15%;
            width: 20%;
            padding: 5% 0;
            margin: 2vh;
            min-width: 200px;
            text-align: center;
            cursor: pointer;
        }

            .iconos{
                height: calc(5vh + 2vw);
            }

            .socialm>a{
                display: block;
                margin-top: 0.5vh;
                width: 20%;
                text-decoration: none;
                white-space: nowrap;
                font-size: 3vh;
                color: white;
            }

            #linkedin{
                background-color: white;
                border-radius: 15px;
            }