body {
    font-family: "PLANK___.woff", sans-serif;
    /* background-color: #f4f4f4; */
    margin: 0;
    padding: 0;
}

/*navbar*/
header{
    border-color: #f5f5f5;
}
    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 9vh;
        justify-content: center;        
        padding-right: 2.5vh;
        z-index: 100;
        display: flex;
        align-items: center;
        background: #C000BF;
        box-shadow: 0 0 10vh rgb(247, 147, 147);
    }
        nav h1{
            display: block;
            width: 30%;
            letter-spacing: 3px;
            font-size: calc(3.5vh + .7vw);
            color: white;
            font-family: 'HuskyStash-Regular';
        }
            .link--sizer{
                display: block;
            }
            .nav-links{
                display: block;
                position: relative;
                right: 0;
                width: 25%;

                white-space: nowrap;
                text-decoration: none;
                font-size: calc(2.5vh + .3vw);
                font-family: 'Lato';
                color: #fafafa;
                letter-spacing: 1px;
                text-align: right;
            }
            .nav-links:hover{
                display: block;
                position: relative;
                right: 0;
                width: 25%;

                white-space: nowrap;
                text-align: right;
                text-decoration: none;
                text-shadow: 2px 2px 4px rgb(255, 255, 255);
                font-size: calc(2.5vh + .3vw);
                font-family: 'Lato';
                color: #fafafa;
                
                letter-spacing: 1px;
                animation: bound 1s ease-in-out infinite;
            }
            @keyframes bound {
                0%, 100% {
                  transform: translate(0, 0);
                }
                50% {
                  transform: translate(0, -1vh);
                }
            }

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Para que el video esté detrás del contenido */
    overflow: hidden;
}
video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    max-width: 600px;
    margin: 65px auto;
    padding: 20px;
    background-color: rgba(250, 220, 247, 0.961);
    /* Fondo semitransparente para mejorar la legibilidad del texto */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font: "Outfit", sans-serif;
    text-align: center;
    color: #f629f6;
    /* Rosa brillante */
    font-size: 2.5em;
    text-shadow: 2px 2px 2px #5f0027;
    margin-bottom: 30px;
    text-transform: uppercase; /* Convertir el texto a mayúsculas */
    letter-spacing: 2px; /* Añadir espacio entre letras */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    color: #333;
    /* Texto oscuro */
    padding-bottom: 5px;
    /* Añadir relleno en la parte inferior */
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: calc(100% - 24px);
    /* Ajuste para el ancho del borde */
    padding: 10px;
    border: 2px solid #c500c5;
    /* Rosa brillante */
    border-radius: 4px;
    background-color: #fff;
    /* Blanco */
    color: #333;
    /* Texto oscuro */
    box-sizing: border-box;
    /* Asegura que el ancho incluya el padding y el borde */
    width: 100%;
    /* Ancho del 100% para ocupar todo el espacio disponible */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f629f6;
    /* Rosa brillante */
    color: #fff;
    /* Texto blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #ff1493;
    /* Rosa más oscuro */
}

.attribution {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #51165a;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    z-index: 100;
    /* Asegura que esté por encima de otros elementos */
}

.attribution a {
    color: var(--lightPink);
}

/* Estilos para el contenedor de la imagen */
.image-container {
    text-align: center;
    margin-bottom: -20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    width: 250px;
}

/* Estilos para el icono */
.icon {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    font: "PLANK___.woff";
}